@font-face {
    font-family: "uid-letter";
    src: url("https://sathursnight.github.io/font/uid-letter.ttf") format("truetype");
}
@font-face {
    font-family: "TorsilpYaLuemChan";
    src: url("https://sathursnight.github.io/font/TorsilpYaLuemChan.ttf") format("truetype");
}
@font-face {
    font-family: "TorsilpYaLuemChanm";
    src: url("https://sathursnight.github.io/font/TorsilpYaLuemChanm.ttf") format("truetype");
}
@font-face {
    font-family: "TorsilpKhongYangKhitthueng.ttf";
    src: url("https://sathursnight.github.io/font/TorsilpKhongYangKhitthueng.ttf") format("truetype");
}
